<launch>
 <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="ID" value="1"/>
 </include>

<include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="ID" value="2"/>
 </include>

<include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="ID" value="3"/>
 </include>

<include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="ID" value="4"/>
 </include>
</launch>
